<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
          xmlns:tools="http://schemas.android.com/tools"
          package="com.liyuxiang.wisdomcity">

    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>

    <application
            android:name=".utils.MyApplication"
            android:allowBackup="true"
            android:dataExtractionRules="@xml/data_extraction_rules"
            android:fullBackupContent="@xml/backup_rules"
            android:icon="@mipmap/ic_launcher"
            android:label="@string/app_name"
            android:roundIcon="@mipmap/ic_launcher_round"
            android:supportsRtl="true"
            android:theme="@style/Theme.WisdomCity"
            android:usesCleartextTraffic="true"
            tools:targetApi="31">
        <activity
                android:name=".activity.takeout.SellerDetailsActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.movie.MovieDetailsActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.bus.BusPayActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.bus.BusActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.metro.MetroDetailsActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.takeout.TakeOutActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.metro.MetroActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.movie.MovieActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.work.WorkActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.work.WorkDetailsActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.parking.ParkingActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
        </activity>
        <activity
                android:name=".activity.FeedbackActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.ChangePasswordActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.UserInfoSettingActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.NewsDetailsActivity"
                android:exported="false"
                android:theme="@style/Theme.NoActionBar"/>
        <activity
                android:name=".activity.RegisterActivity"
                android:exported="false"/>
        <activity
                android:name=".activity.LoginActivity"
                android:exported="false"/>
        <activity
                android:name=".MainActivity"
                android:exported="true"
                android:theme="@style/Theme.NoActionBar">
            <intent-filter>
                <action android:name="android.intent.action.MAIN"/>

                <category android:name="android.intent.category.LAUNCHER"/>
            </intent-filter>
        </activity>
    </application>

</manifest>